.wallets_info {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-left: 30px;
    box-sizing: border-box;
}

.wallets_info.show {
    height: 140px;
}

.wallets_info.hide {
    height: 16px;
}

.wallets_info.hide .wallets_info__wallets_box {
    display: none;
}

.wallets_info.hide .wallets_info__tweets_box {
    display: none;
}

.wallets_info__wallets_box {
    float: left;
    width: 650px;
    box-sizing: border-box;
    padding-left: 15px;
}

.wallets_info__tweets_box {
    float: right;
    width: 490px;
    border: 2px solid #cad4d8;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
}

.wallets_info__hide_button {
    position: absolute;
    box-sizing: border-box;
    left: -55px;
    top: 55px;
    display: block;
    width: 140px;
    height: 30px;
    vertical-align: top;
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-top: solid 2px #2eb2d3;
    border-left: solid 2px #2eb2d3;
    border-right: solid 2px #2eb2d3;
    color: #2eb2d3;
    padding: 0 7px;
    cursor: pointer;
}

.wallets_info__hide_icon {
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-right: 2px solid #2eb2d3;
    border-bottom: 2px solid #2eb2d3;
    background: #fff;
    font-size: 14px;
    line-height: 11px;
    text-align: center;
    cursor: pointer;
    color: #2eb2d3;
}

.wallets_info__wallet {
    box-sizing: border-box;
    height: 40px;
    border: 2px solid #2eb2d3;
    border-radius: 4px;
    background: #2eb2d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px
}

.wallets_info__wallet_coin {
    display: block;
    box-sizing: border-box;
    flex: 0 0 137px;
    vertical-align: middle;
    padding-left: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.wallets_info__wallet_value_wrapper {
    display: flex;
    align-items: center;
    width: 494px;
    height: 36px;
    box-sizing: border-box;
    background: #f4f9fc;
}

.wallets_info__wallet_value {
    flex: 0 0 494px;
    width: 494px;
    box-sizing: border-box;
    word-wrap: break-word;
    vertical-align: middle;
    padding: 0 10px;
    color: #646e70;
    font-size: 16px;
}

@media (max-width: 1229px) {
    .wallets_info__tweets_box {
        display: none;
    }
}